<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3Wo88mYn8FjYwFHkDG2zvsbQfZR-Zwv0</string>
	<key>GCM_SENDER_ID</key>
	<string>131205636358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stevenstudio.SwiftiDate</string>
	<key>PROJECT_ID</key>
	<string>swiftidate-cdff0</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftidate-cdff0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131205636358:ios:bec8d4fd284a46d9e6be87</string>
	<key>DATABASE_URL</key>
	<string>https://swiftidate-cdff0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>